{% extends 'base.html.twig' %}

{% block body %}
    <div id="cart-container">
        {% include 'cart/cart_content.html.twig' %}
    </div>

    <a href="{{ path('checkout') }}" class="btn btn-primary">{{ 'cart.pay'|trans }}</a>
{% endblock %}
