{% extends 'base.html.twig' %}

{% block body %}
    <div id="cart-container">
        {% include 'cart/cart_content.html.twig' %}
    </div>

    <div class="d-flex justify-content-end mt-3">
        <a href="{{ path('checkout') }}" class="btn btn-primary px-4">{{ 'cart.pay'|trans }}</a>
    </div>
{% endblock %}
