<style>
    .custom-footer {
        background-color: #000; /* Couleur de fond noire */
        color: #fff; /* Couleur du texte en blanc */
    }
</style>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-dark text-white w-100">
    <p class="col-md-4 mb-0">&copy; 2024 Auteur: Godwin KPOGLO, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" style="fill: white;"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Maison</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Caractéristiques</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Tarifs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">FAQ</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">À propos</a></li>
    </ul>
</footer>




